# AWS S3
S3_BUCKET_NAME=uiuc-chat
AWS_REGION=us-east-1
AWS_KEY=minioadmin
AWS_SECRET=minioadmin

# MinIO
MINIO_ENDPOINT=http://localhost:9001
INGEST_URL=http://127.0.0.1:8000/ingest
NO_CRAWL=FALSE

# PostgreSQL
POSTGRES_PASSWORD=password
POSTGRES_ENDPOINT=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=postgres
POSTGRES_USERNAME=postgres
